/* entire document */

@font-face {
  font-family: superMario;
  src: url("./assets/SuperMario256.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: superMario;
}
body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* player sections */

.player-one-section,
.player-two-section {
  background-image: linear-gradient(#074EC2, #60DEEE);
  height: 100%;
  width: 20%;
  text-align: center
}

.player-img {
  width: 100px;
  height: 100px;
  margin-top: 5vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* board section */

.gameBoard-section {
  height: 100%;
  width: 60%;
  justify-content: center;
  align-items: column;
}

.board-header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/marioBackground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.board-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: superMario;
  font-size: 3em;
  color: black;
}

.header-token {
  width: 18vh;
  height: 18vh;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 33% 33% 33%;
  align-items: center;
  width: 100%;
  height: 80%;
  background: black;
}

.game-token {
  width: 75%;
  height: 75%;
}

.spaces {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 99%;
  border: .25rem solid;
}

.space-0,
.space-2,
.space-4,
.space-6,
.space-8 {
  background-image: url("./assets/emptyBlockLight.gif");
  background-size: 100% 100%;
}

.space-1,
.space-3,
.space-5,
.space-7 {
  background-image: url("./assets/emptyBlockDark.png");
  background-size: 100% 100%;
}
