body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.player-one-section,
.player-two-section {
  background-color: blue;
  height: 100%;
  width: 20%;
}

.gameboard-section {
  height: 100%;
  width: 60%;
  background: url("./assets/ticTacToe.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
